<%- include("../components/head"), {title:title} %>
<%- include("../components/nav"), {user:user} %>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">    <h1 class="heading">Posts</h1>
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <% if(posts.length > 0) { %>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                        <% } %> 
                        <div class="table-data__tool-right">
                            <a href="/admin/posts/add-new">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>add item</button>
                            </a>
                        </div>
                    </div>
                    <% if(posts.length > 0) { %>

                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
                                    <th>image</th>
                                    <th>title</th>
                                    <th>tags</th>
                                    <th>date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(post of posts) {%> 
                                    <tr class="tr-shadow">
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td class="table-image-col"><img src="/uploads/<%= post.image %> " alt=""></td>
                                        <td>
                                            <%= post.title %>
                                        </td>
                                        <td>
                                            <% 
                                                var tags = post.tags.split(',');
                                                for(tag of tags) {
                                            %> 
                                                <span class="block-email"><%= tag %></span>
                                            <% } %>
                                        </td>
                                        <td><%= post.date %></td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>
                                                <a href="/admin/posts/edit?id=<%= post.id  %> ">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                </a>
                                                <a href="/admin/posts/remove?id=<%= post.id %> ">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </a>
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-more"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        <% } else { %>
            <p>No Posts found.</p>
        <% } %>
    </div>
</div>
</div>


<%- include("../components/footer") %> 